<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="resources/css/styles.css">
</head>
<style>
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: lightskyblue;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 300px;
        gap: 10px;
        background: white;
        margin: auto;
        padding: 3rem;
    }
    input{
        padding: 15px;
        border: 1px solid #ced4da;
    }
    input[type="submit"]{
        background-color: lightgreen;
        border: none;
        font-weight: bold;
        font-size: large;
        color: #ffff;
    }
    select{
        border: 1px solid #ced4da;
    }
</style>
<body>
    <div class="register-form">
        <form action="register" method="POST" class="rf">
            <h1>Form Registration</h1>
            <!-- <label for="user">User name</label> -->
            <input type="text" name="user" required placeholder="Usuario">

            <!-- <label for="user">Full name</label> -->
            <input type="text" name="name" required placeholder="Nombre Completo">


            <!-- <label for="rol">Rol</label> -->
            <select name="rol" id="rol" class="select-css">
                <option value="admin">Admin</option>
                <option value="data entry">Data Entry</option>
            </select>

            <!-- <label for="pass">Password</label> -->
            <input type="password" name="pass" required placeholder="Contraseña">

            <div style="display: grid; gap: 10px;">
                <a href="/" class="btn-cancel">Cancelar</a>
                <input type="submit" value="Registrarme" class="btn-save">
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(typeof alert != "undefined"){%> 
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(()=>{
                window.location = '/ <%= ruta %>'
            })
        </script>
    <% } %>

</body>
</html>